.bird-img {
    border-radius: 25px;
    max-height: 250px;
}

.img-label {
    background-color: rgba(0,0,0,.4);
    color: #fff;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-size: large;
}

.True {
    background-color: #6a5;
}

.False {
    background-color: #888;
}

.taxonomy {
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    overflow-wrap: break-word; 
}

.guess {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    color: white;
    min-height: 60px;
}

/* .nav-item{
    text-align: right;
} */


/* CSS for the button jiggle animation */
/* @keyframes jiggle {
    0% { transform: rotate(0); }
    20% { transform: rotate(-5deg); }
    40% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    80% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
} */
@keyframes jiggle {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(4px, 0px); }
    40% { transform: translate(-4px, 0px); }
    60% { transform: translate(4px, 0px); }
    80% { transform: translate(-4px, 0px); }
    10% { transform: translate(0px, 0px); }
}

/* Add the 'clicked' class to trigger the animation */
.jiggle {
    animation: jiggle 0.5s ease infinite; /* Adjust the duration and timing function as needed */
}

/* .carousel { overflow: hidden; padding-bottom: 4rem; } */
.carousel-caption { top: auto; bottom: 0; }
.carousel-control-prev {
    position: absolute;
    margin-left: -7.5vw;
}

.carousel-control-next {
    position: absolute;
    margin-right: -7.5vw;
}

.carousel-inner img {
    height: 25vh;
    width: 100%;
    /* overflow: hidden; */
    object-fit: contain;
    object-position: center;
  }

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }