<!-- about.html -->
{% extends 'birdle/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="col-10 col-md-6 col-lg-4 mx-auto py-4">
        <h2>The Birdle Team</h2>
        <div class="row justify-content-center text-center">
            <div class="card col-6 border-0 p-2">
                <img src="{% static 'birdle/mitch.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-bg-light">
                <h5 class="card-title">Mitch</h5>
                <p class="card-text">Co-Creator & CTO</p>
                </div>
            </div>
            <div class="card col-6 border-0 p-2">
                <img src="{% static 'birdle/blake.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-bg-light">
                <h5 class="card-title">Blake</h5>
                <p class="card-text">Co-Creator & Chief Ornithologist</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="card col-6 border-0 p-2">
                <img src="{% static 'birdle/charlie.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-bg-light">
                <h5 class="card-title">Charlie</h5>
                <p class="card-text">General Counsel</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}