<!-- daily_bird.html -->

{% extends 'birdle/base.html' %}
{% load static %}
{% block content %}
<div class="container pt-2">
  {% include 'birdle/bird_display.html'%}
  <form method="post" id="guess-form">
    {% csrf_token %}
    <input type="hidden" name="user_id" id="user_id" value="">
    <div class="row justify-content-center mx-auto py-2">
      <div class="col-9 col-lg-6 px-1">
        <input type="text" class="form-control text-center" name="guess-input" id="guess-input" placeholder="Guess">
      </div>
      <div class="col-auto px-0">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <div id="guesses" class="col-12 col-lg-6 mx-auto px-2 p-lg-4">
    <div class="row justify-content-center flex-nowrap align-items-end">
      <div class="col-3 taxonomy">Order</div>
      <div class="col-3 taxonomy">Family</div>
      <div class="col-3 taxonomy">Genus</div>
      <div class="col-3 taxonomy">Common Name</div>
    </div>
    {% for guess in guesses %}
    <div class="row justify-content-center flex-nowrap align-items-end">
      <div class="col-3 taxonomy guess {{guess.correctness.0}}">{{guess.order}}</div>
      <div class="col-3 taxonomy guess {{guess.correctness.1}}">{{guess.family}}</div>
      <div class="col-3 taxonomy guess {{guess.correctness.2}}">{{guess.genus}}</div>
      <div class="col-3 taxonomy guess {{guess.correctness.3}}">{{guess.name}}</div>
    </div>
    {% endfor %}
  </div>
</div>
<button id="clippy" type="button" class="btn btn-sm btn-light visually-hidden rounded-circle position-fixed bottom-0 end-0 mb-5 me-2" data-bs-toggle="popover" data-bs-trigger="click" title="Want a hint?" data-bs-content='
<a id="hintBtn" tabindex="0" type="button" class="btn btn-primary btn-sm py-0">Yes</a>
<a id="noBtn" tabindex="0" type="button" class="btn btn-secondary btn-sm py-0">No</a>
' data-bs-html="true"><img src="{% static 'birdle/clippy.png' %}" class="img-fluid"></button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="hintToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Hint</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      I'm in the {{ bird.family }} family.
    </div>
  </div>
</div>

<br>
<br>
{% endblock %}

{% block extra_scripts %}
<script>
  $(document).ready(function () {
    var winner = JSON.parse("{{is_winner}}".toLowerCase());
    winner || {{ guess_count }} == 6 ? showAlert({{ guess_count }}, winner, `{{emojis}}`): "";
    {{ guess_count }} > 3 ? document.getElementById("clippy").classList.remove("visually-hidden") : "";
  });

  $(document).on("submit", "#guess-form", function(e){
    e.preventDefault();
    $("#user_id").val(localStorage.getItem('user_id'));
    var serializedData = $(this).serialize();
    $.ajax({
      type: "POST",
      url: "/",
      data:  serializedData,
      success: function(response){
        $("#guesses").append(response.new_guess);
        $("#guess-input").val(""); // clear the input field
        response.is_winner || response.guess_count == 6 ? showAlert(response.guess_count, response.is_winner, response.emojis) : "";
        response.guess_count > 3 ? document.getElementById("clippy").classList.remove("visually-hidden") : "";
      },
      error: function(xhr) {
          // Display the error message in the error message div
          if (xhr.status == 400) {
            $("#guess-input").val(""); // clear the input field
            Swal.fire({
              toast: true,
              title: "That bird doesn't exist!",
              icon: "error",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true
            });
          }
      }
    });
  });

  const pluralize = (count, noun, suffix = 'es') => `${count} ${noun}${count !== 1 ? suffix : ''}`;

  function showAlert(guess_count, is_winner, emojis) {
    const Alert = Swal.mixin({
      title: is_winner ? "Congratulations!" : "Oh no!",
      html: is_winner ? 
      `You got today's Birdle in ${pluralize(guess_count, 'guess')}.<br>Learn more about the <a href=\"{{bird.url}}\" target=_blank>{{bird.name}}</a>.` : 
      "Today's bird was the <a href=\"{{bird.url}}\" target=_blank>{{bird.name}}</a>. But don't fret, <a href='https://birdsarentreal.com/' target=_blank>birds aren't real</a> anyway.",
      icon: is_winner ? "success" : "error",
      confirmButtonText: "Copy Results",
      showDenyButton: true,
      denyButtonText: "Close"
    });

    Alert.fire().then((result) => {
      if (result.isConfirmed) {
        navigator.clipboard.writeText(emojis);
        Swal.fire({
          toast: true,
          title: 'Copied!',
          icon: "success",
          showConfirmButton: false,
          timer: 2000,
          timerProgressBar: true
        })
      }
    });
  };
  
  const clippy = document.getElementById('clippy');
  const popover = new bootstrap.Popover(clippy);

  clippy.addEventListener('shown.bs.popover', () => {
    const hintToast = document.getElementById('hintToast');
    const hintToastBootstrap = bootstrap.Toast.getOrCreateInstance(hintToast);
    const hintTrigger = document.getElementById('hintBtn');
    const noTrigger = document.getElementById('noBtn');
    
    hintTrigger.addEventListener('click', () => {
        hintToastBootstrap.show();
        popover.hide();
    })
    noTrigger.addEventListener('click', () => {
      popover.hide();
    })
  });

</script>
{% endblock %}

{% block footer %}
{% include 'birdle/footer.html'%}
{% endblock %}