<!-- info.html -->

{% extends 'birdle/base.html' %}

{% block content %}
<div class="col-6 mx-auto">
    <p>
        Hi, my name is Mitch. I'm the creator of Birdle. 
        I'm neither a birder nor web developer.
        I jokingly threw the name 'Birdle' out there to a friend that is an avid birder and also very 
        into all -dle games (<a href='https://www.nytimes.com/games/wordle/index.html' target=_blank>Wordle</a>, 
        <a href='https://worldle.teuteuf.fr/' target=_blank>Worldle</a>, 
        <a href='https://www.flagle.io/' target=_blank>Flagle</a>, 
        <a href='https://globle-game.com/' target=_blank>Globle</a>, to name a few).
        He proceeded to ask me about development progress daily until I caved and hacked this together.
    </p>
    <br>
    <div class="d-flex justify-content-center">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="mitchbeebe" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    </div>
</div>
{% endblock %}