<!-- stats.html -->

{% extends 'birdle/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="col-sm-10 col-lg-8 mx-auto">
        <h3>Birdle Stats</h3>
        <div class="row">
            <div class="col-4 my-auto">
                <div>Games Played: {{ games_played }}</div>
                <div>Games Won: {{ games_won }}</div>
                <div>Win Percentage: {{ win_pct }}</div>
                <div>Best Streak: {{ best_streak }}</div>
                <div>Current Streak: {{ current_streak }}</div>
            </div>
            <div class="col-8" id="guess_dist"></div>
        </div>
        <br>
        <hr>
        <br>
        <h3 class="text-center">Birdle History</h3>
        <br>
        <div class="d-flex justify-content-center" id="game_history"></div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script type="module">
    import {guess_distribution} from "{% static 'birdle/guess_distribution.js' %}";
    guess_distribution({{ guess_freq | safe }}, "#guess_dist");
</script> 
<script type="module">
    import {game_history} from "{% static 'birdle/game_history.js' %}";
    game_history({{ history | safe }}, "#game_history");
</script> 
{% endblock %}

