<!-- password_reset_from_key.html -->

{% extends 'birdle/base.html' %}

{% block content %}
{% if token_fail %}
<div class="text-center mx-2 pt-2">
    <h1 class="h3">Bad Token</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
</div>
{% else %}
<div class="text-center mx-2 pt-2">
    <h1 class="h3">Change Password</h1>
</div>
<form method="post" action="{{ action_url }}" class="justify-content-center py-1">
    {% csrf_token %}
    {{ redirect_field }}
    {% for field in form %}
    <div class="col-lg-6 mx-auto p-1">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center py-1">
        <button type="submit" name="action" class="btn btn-primary">Change Password</button>
    </div>
    {% for error in form.non_field_errors %}
    <div class="text-danger text-center pt-2">{{ error }}</div>
    {% endfor %}
</form>
{% endif %}
{% endblock %}

{% block footer %}
{% include 'birdle/footer.html'%}
{% endblock %}
