{% extends 'account/base_card.html' %}

{% block card_title %}{% if token_fail %}Invalid Link{% else %}Set New Password{% endif %}{% endblock %}

{% block card_body %}
{% if token_fail %}
<p class="mb-0">This password reset link is invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
{% else %}
{% include 'account/_form.html' with submit_label="Change Password" action=action_url %}
{% endif %}
{% endblock %}
