.bird-img {
    border-radius: 25px;
}

.True {
    background-color: #6a5;
}

.False {
    background-color: #888;
}

.taxonomy {
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    overflow-wrap: break-word; 
}

.guess {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    color: white;
    min-height: 70px;
    /* min-width: 70px; */
}