<div class="col-sm-8 col-lg-4 mx-auto"> 
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-theme="dark">
      <div class="carousel-inner">
        {% for img in imgs %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img src="{{ img.1 }}" class="img-fluid d-block rounded">
            <div class="carousel-caption d-none d-md-block align-bottom">
              <span class="img-label">{{ img.0 }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if imgs %}
      <button class="carousel-control-prev" data-bs-target="#carouselExampleControls" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-target="#carouselExampleControls" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
      {% endif %}
    </div>
  </div>