<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>

<script>

const data = [
    {guesses: 1, count: 3},
    {guesses: 2, count: 5},
    {guesses: 3, count: 7},
    {guesses: 4, count: 8},
    {guesses: 5, count: 8},
    {guesses: 6, count: 4}
];
const plot = Plot.plot({
    title: "Win Distribution",
    marks: [
        Plot.barX(data, {x: "count", y: "guesses"}),
        Plot.text(data, {x: "count", y: "guesses", text: (d) => (d.count), dx: -10, fill: "white", fontSize: 14}),
        Plot.axisY({label: "Guess Count", fontSize: 14, labelAnchor: "top", labelArrow:"down"}),
        Plot.axisX({label: "Games Won", ticks: 0, fontSize: 14, labelAnchor: "left"}),
        Plot.ruleX([0])
    ]});
const div = document.querySelector("#guess_dist");
div.append(plot);


const results = ["Win", "Loss", "null"]

Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
};

function getDates(startDate, stopDate) {
    var dateArray = new Array();
    var currentDate = startDate;
    while (currentDate <= stopDate) {
        let res = results[Math.floor(Math.random()*results.length)]
        dateArray.push({Date: (new Date(currentDate)).toISOString().split('T')[0], Result: res});
        currentDate = currentDate.addDays(1);
    }
    return dateArray;
}; 

const cal = getDates(new Date("2023-07-01"), new Date("2023-09-10"));


const cal_plot = Plot.plot({
    title: "Birdle History",
    x: {tickFormat: Plot.formatWeekday(), tickSize: 0, anchor: "top"},
    y: {axis: null},
    fx: {tickFormat: Plot.formatMonth("en", "short"), anchor: "bottom"},
    color: {type: "categorical", range: ["lightgreen", "pink"], legend: true, label: "Daily Result", domain: ["Win", "Loss"]},
    marginTop: 40,
    marks: [
      Plot.cell(cal, {
        x: (d) => (new Date(d.Date)).getUTCDay(),
        fx: (d) => (new Date(d.Date)).getUTCMonth(),
        y: (d) => d3.utcWeek.count(d3.utcMonth(new Date(d.Date)), new Date(d.Date)),
        fill: (d) => d.Result,
        text: (d) => (new Date(d.Date)).getUTCDate(),
        inset: 0.5
      }),
      Plot.text(cal, {
        x: (d) => (new Date(d.Date)).getUTCDay(),
        fx: (d) => (new Date(d.Date)).getUTCMonth(),
        y: (d) => d3.utcWeek.count(d3.utcMonth(new Date(d.Date)), new Date(d.Date)),
        text: (d) => (new Date(d.Date)).getUTCDate(),
      }),
      Plot.axisX({anchor: "top", tickFormat: Plot.formatWeekday(), tickSize: 0}),
      Plot.axisFx({tickFormat: Plot.formatMonth("en", "long"), anchor: "top", tickPadding: 30, fontWeight: "bold"})
    ]
  });
div.append(cal_plot);

</script>